<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VIF</title>
</head>
<body>
 <h1> Observations </h1>
 <p><b>1. This dataset contains 14 columns and 10000 observations with no missing cells <br><br>
2. all the features description have been understood from the uci predictive maintenance dataset 'attribute information'<br><br>
3. from the profile report it can be observed that air temperature is linearly related to process temperature<br><br>
4. it can also be observed that torque is somehow related to rotational speed[rpm] i.e. as rpm is increasing , the torque is decreasing<br><br>
5. from the pearsin graph the correlations can be observed ranging from numbers in color map <br><br>
6. the TWF ,HDF,PWF,OSF,RNF have some correlations with machine failure ranginge between 0.25 and 0.50<br><br>
7. the process temperature is 10 times the air temperature and thus showing a somewhat dark blue color i.e the range between 0.75 and 1.0 in the color map<br><br>
8. The Product ID and  TYpe are categorical columns and rest are int or float <br><br>
9. There are in total 339 rows with machine failure due to various causes.. if any of the machine failure modes (TWF ,HDF,PWF,OSF,RNF) is true or 1 then it is causing the machine to fail.<br><br>
     10. Most of the machine failures are caused by HDF as total count of HDF = 1 is 115 which is highest amongst all followed by PWF and then TWF.There are 19 MAchine failures due to RNF (random failure)</b> </p><br>

</body>
</html>